body {
    font-family: "Poppins" , san-serif;
    background: linear-gradient(120eg, #fbc2eb , #a6c1ee);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    text-align: center;
    width: 350px;

}
h1 {
    color: #333;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff8fb1;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    
}

button:hover {
    background-color: #ff5f85;
    
}
#result {
    margin-top: 20px;
    font: size 16px;
    line-height: 1.5;
}